@charset "utf-8";

body {
    background-color: white;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    font-family: 'M PLUS 1p', sans-serif;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 5em;
    background-color: white;
    color: #211000;
}

.header-container {
    padding: 0 3em 0 3em;
}

.header-logo img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.header-list {
    float: right;
    line-height: 5em;
    margin-left: 3em;
    cursor: pointer;
}

.header-list p {
    display: inline;
    vertical-align: middle;
    font-size: 1em;
}

.header-list a {
    text-decoration: none;
    color: #3D3634;
}

.header-list i{
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    color: #3D3634
}

.arrow{
    position: relative;
}
.arrow::after{
    content: "";
    position: absolute;
    top: 2.4em;
    border: 6px solid transparent;
    border-top: 7px solid #211000;
}

.arrow :hover {
    text-decoration: underline;

}

    /* ハンバーガーメニューの表示・非表示 */
    @media screen and (min-width: 1180px) {
        .header-right .hamburger {
            display: none;
        }
    }
    @media screen and (max-width: 1180px) {
        .header-right .hamburger {
            margin-right: 2em;
        }
        .header-list {
            display: none;
        }
    }

main {
    height: 205em;
    font-family: 'Noto Sans JP', sans-serif;
}

/* JavaScriptを使う場合のCSS 
 .top img {
    padding: 5em 0 5em 0;
    height: 80vh;
    width: 100%;
} */
    
.top {
    background-image: url("https://github.com/misakiKUSAMOTO/Mongolian-shop-MON/blob/main/unsplash.png?raw=true");
    background-size: cover;
    padding: 10em 0 10em 0;
    height: 55vh;
}

.container {
    float: right;
    padding: 10em 5em 0 0; 
}

.top-news h1{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
}

.top-news a {
    text-decoration: none;
}

.top .box {
    width: 15em;
    line-height: 1.8em;
    margin: 0.5em;
    background-color: #FEC382;
}

.top .box p {
    color: black;
    font-size: 1em;
    padding: 0.25em 0;
    text-align: center;
    letter-spacing: 0.25em;
}

.popular-category h1{
    padding-top: 3em;
    color: #211000;
    font-size: 24px;
    text-align: center;
}

    /* 「ウィメンズ人気カテゴリー」の画像配置 */
    @media screen and (min-width: 1180px) {
        .category-image {
            margin: 0 auto;
            float: left;
            width: 33.3%;
        }
    }
    @media screen and (max-width: 1180px) {
        .category-image {
            margin: 0 auto;
            float: left;
            width: 50%;
        }
    }
    @media screen and (max-width: 520px) {
        .category-image {
            margin: 0 auto;
            float: left;
            width: 100%;
        }
    }

.category {
    margin: 3em 3em;
    text-align: center;
}
    
.category a {
    text-decoration: none;
}    

.category-image img {
    width: 80%;
    height: 80%;
}

.category-image .box {
    width: 15em;
    line-height: 0.1px;
    background-color: #B8C2C3;
}

.category-image p {
    color: white;
    font-size: 1em;
    padding: 0.25em 0;
    text-align: center;
    letter-spacing: 0.25em;
}

    /* 各ボックスの配置 */
    .category-image .scarf {
        position: relative;
    }
    .category-image .scarf .box {
        position: absolute;
        top: 15em;
        left: 5em;
    }
    .category-image .beanie {
        position: relative;
    }
    .category-image .beanie .box {
        position: absolute;
        top: 15em;
        left: 5em;
    }
    .category-image .socks {
        position: relative;
    }
    .category-image .socks .box {
        position: absolute;
        top: 0;
        left: 0;
    }
